.maxim {
  background-color: pink;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgs {
  width: 250px;
  height: 250px;
}
header {
  display: flex;
  gap: 50px;
}
.artemiy{
  background-color: purple;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
