body{
  margin: 0 auto;
}
.maxim {
  background-color: pink;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.imgs {
  width: 250px;
  height: 250px;
}
header {
  padding: 10px;
  display: flex;
  gap: 50px;
  width: 100%;
  height: 50px;
  background-color: darkorchid;
}
header a{
  text-decoration: none;
  color: black;
}
.artemiy{
  background-color: purple;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.denis{
  background-color: rgba(0, 123, 255, 0.681);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main{
  margin: 0;
}
.flex{
  display: flex;
}
.flex a {
  padding: 10px;
  color: black;
}
footer h3{
  margin: 0;
  padding: 10px;
}
footer{
  margin: 0;
  background-color: darkslateblue;
}